CrmScan/Web References/intws/bak/events.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Connected">
        <s:complexType />
      </s:element>
      <s:element name="ConnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunIntegration">
        <s:complexType />
      </s:element>
      <s:element name="RunIntegrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunIntegrationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsResult" type="tns:EventListObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventListObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Departments" type="tns:ArrayOfDepartmentObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDepartmentObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepartmentObj" nillable="true" type="tns:DepartmentObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DepartmentObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Types" type="tns:ArrayOfTypeObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTypeObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TypeObj" nillable="true" type="tns:TypeObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TypeObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Events" type="tns:ArrayOfEventObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEventObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventObj" nillable="true" type="tns:EventObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessEventRegistrations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessEventRegistrationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessEventRegistrationsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEventRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eventRegistrationObj" type="tns:EventRegistrationObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventRegistrationObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EventAttended" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EventRegistered" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactColleagueId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactIdCardBarcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactLastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ContactBirthDate" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveEventRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveEventRegistrationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Connected" />
  </wsdl:message>
  <wsdl:message name="ConnectedSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="RunIntegrationSoapIn">
    <wsdl:part name="parameters" element="tns:RunIntegration" />
  </wsdl:message>
  <wsdl:message name="RunIntegrationSoapOut">
    <wsdl:part name="parameters" element="tns:RunIntegrationResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="GetEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessEventRegistrationsSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessEventRegistrations" />
  </wsdl:message>
  <wsdl:message name="ProcessEventRegistrationsSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessEventRegistrationsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveEventRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:SaveEventRegistration" />
  </wsdl:message>
  <wsdl:message name="SaveEventRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:SaveEventRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="eventsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Connected">
      <wsdl:input message="tns:ConnectedSoapIn" />
      <wsdl:output message="tns:ConnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunIntegration">
      <wsdl:input message="tns:RunIntegrationSoapIn" />
      <wsdl:output message="tns:RunIntegrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input message="tns:GetEventsSoapIn" />
      <wsdl:output message="tns:GetEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessEventRegistrations">
      <wsdl:input message="tns:ProcessEventRegistrationsSoapIn" />
      <wsdl:output message="tns:ProcessEventRegistrationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveEventRegistration">
      <wsdl:input message="tns:SaveEventRegistrationSoapIn" />
      <wsdl:output message="tns:SaveEventRegistrationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eventsSoap" type="tns:eventsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connected">
      <soap:operation soapAction="http://tempuri.org/Connected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunIntegration">
      <soap:operation soapAction="http://tempuri.org/RunIntegration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessEventRegistrations">
      <soap:operation soapAction="http://tempuri.org/ProcessEventRegistrations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEventRegistration">
      <soap:operation soapAction="http://tempuri.org/SaveEventRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eventsSoap12" type="tns:eventsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connected">
      <soap12:operation soapAction="http://tempuri.org/Connected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunIntegration">
      <soap12:operation soapAction="http://tempuri.org/RunIntegration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://tempuri.org/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessEventRegistrations">
      <soap12:operation soapAction="http://tempuri.org/ProcessEventRegistrations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEventRegistration">
      <soap12:operation soapAction="http://tempuri.org/SaveEventRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="events">
    <wsdl:port name="eventsSoap" binding="tns:eventsSoap">
      <soap:address location="https://lcapps.lethbridgecollege.ca/prod/intws/events.asmx" />
    </wsdl:port>
    <wsdl:port name="eventsSoap12" binding="tns:eventsSoap12">
      <soap12:address location="https://lcapps.lethbridgecollege.ca/prod/intws/events.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>